# clean data

## import library

In [581]:
import re
import csv
import numpy as np
import pandas as pd

## column index name

In [582]:
DIC_TITLE_INDEX = {"Admin": 0,"bank" : 0, "trade" : 0, "ceo":0,"community_service" : 0,"construction":0,"design" :0, "edu" : 0,"manufacture": 0, "acct" : 0, "advertising": 0,"call" : 0,  "consult" : 0 }
DIC_LINK_INDEX = {"Admin": 1,"bank" : 1, "trade" : 1, "ceo":1,"community_service" : 1,"construction":1,"design" :1, "edu" : 1,"manufacture": 1, "acct" : 1, "advertising": 1,"call" : 1,  "consult" : 1 }
DIC_COMPANY_INDEX = {"Admin": 2,"bank" : 2, "trade" : 2, "ceo":2,"community_service" : 2,"construction":2,"design" :2, "edu" : 2,"manufacture": 2, "acct" : 2, "advertising": 2,"call" : 2,  "consult" : 2 }
DIC_LOCATION_INDEX = {"Admin": 3,"bank" : 3, "trade" : 3, "ceo":3,"community_service" : 3,"construction":3,"design" :3, "edu" : 3,"manufacture": 3, "acct" : 3, "advertising": 3,"call" : 3,  "consult" : 3 }
DIC_POST_DAY_INDEX ={"Admin": 4,"bank" : 5, "trade" : 5, "ceo":5,"construction":5,"design" :5, "edu" : 5,"manufacture": 5, "acct" : 5, "advertising":6 ,"call" : 5,  "consult" : 5 }
DIC_CLASSI_INDEX ={"Admin": 5,"bank" : 4, "trade" : 6, "ceo":4,"community_service" : 5,"construction":6,"design" :6, "edu" : 4,"manufacture": 4, "acct" : 4, "advertising": 5,"call" : 4,  "consult" : 4 }
DIC_SALARY_INDEX  ={"edu":6,'manufacture':6,"acct" : 6,"advertising": 4,"call" : 6,"consult" : 4 }
LOCATION_INDEX = len('location:')
CLASSIFICATION_INDEX = len('classification:')

## read data

In [583]:
def read_data(file_path,job_name):
    """read csv_file with no header, then call each action of function"""
    csv_new =pd.read_csv(file_path,header= None)
    csv_new = csv_new.drop(csv_new.index[0])
    csv_new = clean_loc_and_area(csv_new,DIC_LOCATION_INDEX[job_name] )
    csv_new =  clean_salary(csv_new,DIC_CLASSI_INDEX[job_name])
    csv_new = clean_classification(csv_new,DIC_CLASSI_INDEX[job_name])
    csv_new = post_and_feature(csv_new, DIC_POST_INDEX[job_name])
    return csv_new

## clean the location and area column

In [584]:
def clean_loc_and_area(csv_new, index = 3):
    
    '''
    the funcation used to get rid of "location: " value, and also split the location into two piece,
    fill NA in the area and location column.Then, get rid of salary information in the location column,
    for example, #eg. abcabc,$23 per hour.
    Next, get rid of word "area" in the area column, then drop it.
    Finally, call duplicate area function.
    '''
    
    csv_new[index] = csv_new[index].apply(lambda x:x[LOCATION_INDEX:])
    csv_new[['area','location']] = csv_new[index].str.split(': ', expand = True)
    csv_new['location'].fillna('unknown',inplace = True)
    csv_new['area'].fillna('unknown',inplace = True)
    csv_new['location'] = csv_new['location'].replace('(\,[\s\S]*)',"",regex = True)
    csv_new.drop(columns = [index],inplace = True)
    csv_new['location']= csv_new['location'].apply(dulplicate_loc)
    
    
    csv_new['area'] = csv_new['area'].replace('(area$)',"",regex = True)
    csv_new['area'] = csv_new['area'].apply(dulplicate_area)
    
   
    
    return csv_new

## clean the dulplicate value in the location column

In [585]:
def dulplicate_loc(column):
    '''
    clean the dulplicate value in the location column
    '''
    mid = len(column)//2
    if column == 'unknown':
        return 'unknown'
    else:
        return column[mid:]

## clean the dulplicate value in the area column

In [586]:
def dulplicate_area(column):
    '''
    clean the dulplicate value in the area column
    '''
    mid = len(column)//2
    if column == 'unknown':
        return 'unknown'
    else:
        return column[mid+1:]

## clean the salary column

In [587]:
def clean_salary(csv_new,index):
    '''
    First, find salary information in the classification column by using salary funcation.
    Then, clean the salary column,split salary collumn into two pieces that are called high salary
    and low salary.
    Then extract number that what we want in the low_salary and high_salary column.
    If the low _salary is unknown, high_salary has a number, then put number also in the low_salary column.
    If the high_salary is unknown, low_salary has a number, then put number also in the high_salary column.
    Next, transfer low_salary and high_salary type.
    Count salary for a year in the low salary and high salary column.
    Finally, fill NA in the low salary and high salary column.
    '''
    
    csv_new['salary']= csv_new[index].apply(salary)
    
    csv_new['salary'] = csv_new[csv_new['salary'].str.contains('\d', na= False)]['salary'].str.replace('to','-',regex = True)
    csv_new['salary'] = csv_new[csv_new['salary'].str.contains('\d',na = False)]['salary'].str.replace('k','000',regex = True)
    csv_new['salary'] = csv_new[csv_new['salary'].str.contains('\d',na = False)]['salary'].str.replace(',','',regex = True)
    csv_new['salary'] = csv_new[csv_new['salary'].str.contains('\d',na = False)]['salary'].str.replace('\d\%','',regex = True)
    
    csv_new['salary'] = csv_new['salary'].fillna('unknown')
    
    csv_new[['low_salary','high_salary']] = csv_new['salary'].str.split('-',n = 1, expand = True)
    csv_new[['low_salary','high_salary']]=csv_new[['low_salary','high_salary']].fillna('unknown')
    
    csv_new['low_salary'] = csv_new['low_salary'].str.extract(r'(\d+\.\d+|\d+ \d+|\d+)',expand = False)
    csv_new['high_salary'] = csv_new['high_salary'].str.extract(r'(\d+\.\d+|\d+ \d+|\d+)',expand = False) 
    
    csv_new['low_salary'] = csv_new[csv_new['low_salary'].str.contains('\d',na= False)]['low_salary'].str.replace(' ','',regex = True)
    csv_new['high_salary'] = csv_new[csv_new['high_salary'].str.contains('\d',na= False)]['high_salary'].str.replace(' ','',regex = True)
    
    csv_new.loc[csv_new['low_salary']=='unknown','low_salary'] = csv_new['high_salary']
    csv_new.loc[csv_new['high_salary']=='unknown','high_salary'] = csv_new['low_salary']
    
    csv_new['low_salary'] = csv_new['low_salary'].astype('float32')
    csv_new['high_salary'] = csv_new['high_salary'].astype('float32')
    
    csv_new.loc[csv_new['low_salary'] < 50, 'low_salary'] = csv_new['low_salary'] * 8*200
    csv_new.loc[csv_new['high_salary'] < 50, 'high_salary'] = csv_new['high_salary'] * 8*200
    
    csv_new['low_salary']=csv_new['low_salary'].fillna('unknown')
    csv_new['high_salary']=csv_new['high_salary'].fillna('unknown')
    
    
    
    return csv_new

## find salary value in the classification column

In [588]:
def salary(column):
    '''
    find salary value in the classification column
    '''
    if "classification" in column:
        return 'unknown'
    else:
        return column

## clean the classification column

In [589]:
def clean_classification(csv_new, index):
    '''
    The function is used to clean the classification column.
    Firstly, we use the classi funcation, to get rid of the column has salary information.
    Then, we fill NA value to unknown in the classification column. 
    Next, we split the collumn by 'subclassification: ' into two pieces that are 'classification_change'
    and 'classification'column.
    We call the duplicate_classi funcation to clean the dulplicate value in the classification column
    Then, get rid of 'classificaiton:' in the classification column.And split the classification_change into 3pieces.
    Drop the original one.
    In addition, fill NA value in the classification1, classification2, classification3 and company column
    Finally, call the random1 funcation to estimate salary in the high_salary and low_salary column.
    
    '''
    
    
    csv_new['classification']=csv_new[index].apply(classifi)
    
    csv_new['classification'] = csv_new['classification'].fillna('unknown')
    
    csv_new[['classification_change','classification']] = csv_new['classification'].str.split('subClassification: ',expand =True)
    
    csv_new['classification']=csv_new['classification'].fillna('unknown')
    csv_new['classification'] = csv_new['classification'].apply(dulplicate_classi)
    csv_new['classification_change'] = csv_new['classification_change'].apply(lambda x:x[CLASSIFICATION_INDEX:])
    csv_new[['classification1','classification2','classification3']] = csv_new['classification_change'].str.split(' & ',expand = True)
    csv_new.drop(columns = ['classification_change',index], inplace = True)
    
    csv_new['classification1']= csv_new['classification1'].fillna('unknown')
    csv_new['classification2']= csv_new['classification2'].fillna('unknown')
    csv_new['classification3']= csv_new['classification3'].fillna('unknown')
    
    csv_new['high_salary']= random1(csv_new['high_salary'])
    csv_new['low_salary'] = random1(csv_new['low_salary'])
    
    
    csv_new['company'] = csv_new[2].fillna('unknown')
    
    
    
    return csv_new

## estimate salary for unknown value in the low and high salary column.

In [590]:
def random1(column):
    '''
    Random select number from $45000 and $75000.
    Search on the website the salary range for the most of the job is between $45000 and $75000
    
    '''
    np.random.randint(45000,75000,size = 1)
    for index1, row in enumerate(column.values):
        if row == "unknown":
            column[index1] = np.random.randint(45000, 75000,size = 1 )[0]
    return column[index1]

## clean the classification column

In [591]:
# clean out $23- $25 per hour
def classifi(a):
    '''
    clean salary information in the classification column.
    '''
    if "classification" not in a :
        return None
    else:
        return a

## clean the dulplicate value in the classification collumn

In [592]:
def dulplicate_classi(a):
    '''
    clean the dulplicate value in the classification column
    '''
    mid = len(a)//2
    if a == 'unknown':
        return 'unknown'
    else:
        return a[mid:]

## clean the post_time and feature column

In [593]:

def post_and_feature(csv_new, index):
    
    '''
    split the post time column into two pieces that are 'post_time' and 'feature_at' column.
    fill NA value in the post_time and feature_at column
    extract day post time in the post_time column,for example, 21d ago change to 21d
    transfer the post_time to string.
    Finally ,use the post_time funcation to extract number in the post_time column,
    and drop the original column
    '''
    csv_new[['post_time','feature_at']] = csv_new[index].str.split(',at,', expand = True)
    
    csv_new['post_time']= csv_new['post_time'].fillna('unknown')
    csv_new['feature_at'] = csv_new['feature_at'].fillna('unknown')
    
    csv_new['post_time']= csv_new['post_time'].str.extract('(\d+[a-z]+)',expand = False)
    
    csv_new['post_time'] = csv_new['post_time'].astype('str')
    csv_new['post_time'] = csv_new['post_time'].apply(post_time)
    
    csv_new.drop(columns = [index],inplace = True)
    return csv_new

## extract number in the post_time column

In [594]:
def post_time(a):
    '''
    extract time number posted based on day.
    '''
    if 'd' in a:
        find1 = int(a.index('d'))
        return -int(a[:find1])
    elif "m" in a:
        find2 = a.index('m')
        final = -int(a[:find2]) *30
        return final 
    else:
        return 0

In [595]:
print(read_data('/Users/wangzhuoxin/Desktop/project_resource/NZ_Admin_JOBS.csv',"Admin"))

                                         0  \
1                            Administrator
2                             Receptionist
3             Prosecutions Support Officer
4     Early Childhood Centre Administrator
5           Business Support Administrator
...                                    ...
2704                   Key Account Manager
2705                   Executive Assistant
2706                Temporary Office Roles
2707                Temporary Office Roles
2708                   Executive Assistant

                                                      1  \
1     https://www.seek.co.nz/job/50582301?type=promo...
2     https://www.seek.co.nz/job/50620889?type=promo...
3     https://www.seek.co.nz/job/50622169?type=stand...
4     https://www.seek.co.nz/job/50639620?type=stand...
5     https://www.seek.co.nz/job/50622432?type=stand...
...                                                 ...
2704  https://www.seek.co.nz/job/50490062?type=stand...
2705  https://www.seek.co.nz/job/50488000?type=stand...
2706  https://www.seek.co.nz/job/50524865?type=stand...
2707  https://www.seek.co.nz/job/50477118?type=stand...
2708  https://www.seek.co.nz/job/50496571?type=stand...

                                             2           area  \
1                                          NaN  Bay of Plenty
2                         Avenues Orthodontics  Bay of Plenty
3                           New Zealand Police       Auckland
4     Kew Pacific Island Early Learning Centre      Southland
5                                          NaN     Canterbury
...                                        ...            ...
2704                     Hays Talent Solutions       Auckland
2705                    one eighty recruitment     Wellington
2706                     Asset Recruitment Ltd        Waikato
2707                     Asset Recruitment Ltd        Waikato
2708                    Alpha Recruitment - NZ     Wellington

                location   salary  low_salary  high_salary  \
1               Tauranga  unknown       69964        46181
2               Tauranga  unknown       69964        46181
3                unknown  unknown       69964        46181
4           Invercargill  unknown       69964        46181
5           Christchurch  unknown       69964        46181
...                  ...      ...         ...          ...
2704    Auckland Central  unknown       69964        46181
2705  Wellington Central  unknown       69964        46181
2706            Hamilton  unknown       69964        46181
2707            Hamilton  unknown       69964        46181
2708             unknown  unknown       69964        46181

                     classification  classification1  \
1                 Office Management   Administration
2                     Receptionists   Administration
3                             Other   Administration
4         Administrative Assistants   Administration
5     Client & Sales Administration   Administration
...                             ...              ...
2704  Client & Sales Administration   Administration
2705                        unknown
2706                        unknown
2707                        unknown
2708           PA, EA & Secretarial   Administration

                   classification2 classification3  \
1     Office SupportAdministration  Office Support
2     Office SupportAdministration  Office Support
3     Office SupportAdministration  Office Support
4     Office SupportAdministration  Office Support
5     Office SupportAdministration  Office Support
...                            ...             ...
2704  Office SupportAdministration  Office Support
2705                       unknown         unknown
2706                       unknown         unknown
2707                       unknown         unknown
2708  Office SupportAdministration  Office Support

                                       company  post_time          feature_at
1                                      unknown          0  Private Advertiser
2                         Avenues Orthodontics          0             unknown
3                           New Zealand Police         -4             unknown
4     Kew Pacific Island Early Learning Centre          0             unknown
5                                      unknown         -4  Private Advertiser
...                                        ...        ...                 ...
2704                     Hays Talent Solutions        -27             unknown
2705                    one eighty recruitment        -27             unknown
2706                     Asset Recruitment Ltd        -20             unknown
2707                     Asset Recruitment Ltd        -28             unknown
2708                    Alpha Recruitment - NZ        -26             unknown

[2708 rows x 15 columns]

/Users/wangzhuoxin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.